@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Sanchez&display=swap');

/* RESET */
body{
    font-size: 92.5%;
    padding: 0;
    margin: 0;
}
body *{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Sanchez', serif;
}
a{
    text-decoration: none;
}
/* LAYOUT */
#geral{
    margin: 0.5em 0.5em 3em;
}
h1{
    background-color: #0000CC;
    color:#fff;
    font-weight: 900;
    padding: 1em 0 0 .5em;
    margin:.5em 0 0;
    border-radius: 0 1em 0 0;
}
small{
    display: block;
    margin: 0;
    padding: 0 .5em 0 0;
    background-color: #000099;
    color:#fff;
    text-align: right;
    font-size: .8em;
}
aside h2{
    padding: 0;
    font-size: .95em;
    background-color:inherit;
    color: inherit;
}
aside ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}
h2{
    background-color: #000099;
    color:#fff;
    font-weight: 900;
    padding: .25em .5em;
}
h3{
    margin-bottom: 0;
    border-bottom: 1px solid #000099;
    color:#000099;
}
time{
    font-size: .8em;
}
ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
p, blockquote{
    font-size: .9em;
}
blockquote{
   margin-left: 0;
}

@media (min-width: 650px)
{
  #geral{
      margin-left: 10%;
      margin-right: 15%;
  }
}